<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="CoreUI" asp-action="Index" asp-route-id=""><i class="icon-speedometer"></i> Dashboard <span class="badge badge-primary">NEW</span></a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Theme</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Theme" asp-route-id="colors"><i class="icon-drop"></i> Colors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Theme" asp-route-id="typography"><i class="icon-pencil"></i> Typography</a>
                </li>
            </ul>
        </li>
        <li class="nav-title">
            Components
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Base</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="breadcrumb"><i class="icon-puzzle"></i> Breadcrumb</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="cards"><i class="icon-puzzle"></i> Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="carousel"><i class="icon-puzzle"></i> Carousel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="collapse"><i class="icon-puzzle"></i> Collapse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="forms"><i class="icon-puzzle"></i> Forms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="jumbotron"><i class="icon-puzzle"></i> Jumbotron</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="list-group"><i class="icon-puzzle"></i> List group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="navs"><i class="icon-puzzle"></i> Navs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="pagination"><i class="icon-puzzle"></i> Pagination</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="popovers"><i class="icon-puzzle"></i> Popovers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="progress"><i class="icon-puzzle"></i> Progress</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="switches"><i class="icon-puzzle"></i> Switches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="tables"><i class="icon-puzzle"></i> Tables</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="tabs"><i class="icon-puzzle"></i> Tabs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Components" asp-route-id="tooltips"><i class="icon-puzzle"></i> Tooltips</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-cursor"></i> Buttons</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Buttons" asp-route-id="buttons"><i class="icon-cursor"></i> Buttons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Buttons" asp-route-id="button-group"><i class="icon-cursor"></i> Buttons Group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Buttons" asp-route-id="dropdowns"><i class="icon-cursor"></i> Dropdowns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Buttons" asp-route-id="social-buttons"><i class="icon-cursor"></i> Social Buttons</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="CoreUI" asp-action="Charts" asp-route-id=""><i class="icon-pie-chart"></i> Charts</a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Icons</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Icons" asp-route-id="flags"><i class="icon-star"></i> Flags <span class="badge badge-success">NEW</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Icons" asp-route-id="font-awesome"><i class="icon-star"></i> Font Awesome <span class="badge badge-secondary">4.7</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Icons" asp-route-id="simple-line-icons"><i class="icon-star"></i> Simple Line Icons</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-bell"></i> Notifications</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Notifications" asp-route-id="alerts"><i class="icon-bell"></i> Alerts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Notifications" asp-route-id="badge"><i class="icon-bell"></i> Badge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CoreUI" asp-action="Notifications" asp-route-id="modals"><i class="icon-bell"></i> Modals</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="CoreUI" asp-action="Widgets" asp-route-id=""><i class="icon-calculator"></i> Widgets <span class="badge badge-primary">NEW</span></a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
            Extras
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i>Pages</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Pages" asp-controller="" asp-action="Login" asp-route-id=""><i class="icon-star"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Pages" asp-controller="" asp-action="Register" asp-route-id=""><i class="icon-star"></i> Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Pages" asp-controller="" asp-action="_404" asp-route-id=""><i class="icon-star"></i> Error 404</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Pages" asp-controller="" asp-action="_500" asp-route-id=""><i class="icon-star"></i> Error 500</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i>Home</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" asp-route-view=""><i class="fa fa-windows"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="About" asp-route-view=""><i class="icon-speech"></i>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Contact" asp-route-view=""><i class="icon-envelope"></i>Contact</a>
                </li>
            </ul>
        </li>
        <li class="nav-item mt-auto">
            <a class="nav-link nav-link-success" href="http://coreui.io" target="_top"><i class="icon-cloud-download"></i> Download CoreUI</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-danger" href="http://coreui.io/pro/" target="_top"><i class="icon-layers"></i> Try CoreUI <strong>PRO</strong></a>
        </li>
    </ul>
</nav>

