@{
    ViewData["Title"] = "About";
    ViewData["Name"] = "About";
}
<div class="row">
    <div class="col-sm-6">
        <div class="card card-accent-primary">
            <div class="card-header">
                <strong>
                    <i class="icon-note"></i>
                    @ViewData["Title"]
                </strong>
            </div>
            <div class="card-body">
                <p>
                    @ViewData["Message"]
                </p>
                <p>Use this area to provide additional information.</p>
            </div>
        </div>
    </div>
</div>