@{
    ViewData["Title"] = "Contact";
    ViewData["Name"] = "Contact";
}
<div class="row">
    <div class="col-sm-6">
        <div class="card card-accent-info">
            <div class="card-header">
                <strong>
                    <i class="icon-envelope"></i>
                    @ViewData["Title"]
                </strong>
            </div>
            <div class="card-body">
                <h3>@ViewData["Message"]</h3>

                <address>
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399<br />
                    <abbr title="Phone">P:</abbr>
                    425.555.0100
                </address>

                <address>
                    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>
            </div>
        </div>
    </div>
</div>
